if SHIELD_LILYKEY_RIGHT

config ZMK_KEYBOARD_NAME
    default "lilykey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LILYKEY_RIGHT

if SHIELD_LILYKEY_LEFT || SHIELD_LILYKEY_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LILYKEY_LEFT || SHIELD_LILYKEY_RIGHT
