#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Every key is 'q'
            
            bindings = <
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q       &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q       &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q       &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q       &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q       &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
            >;
        };

        lower_layer {
            // All 'q'
            
            bindings = <
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q      &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q      &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q      &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q      &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q      &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
            >;
        };

        raise_layer {
            // All 'q'
            
            bindings = <
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q    &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q    &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q    &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q    &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
&kp Q &kp Q &kp Q &kp Q &kp Q &kp Q    &kp Q &kp Q &kp Q &kp Q &kp Q &kp Q
            >;
        };
    };
};